body {
  background-color: white !important;
  color: black !important;
}

.dark_mode {
  background-color: #000 !important;
  color: white;
  * {
    transition: background-color 0.5s, color 0.5s;
    background-color: black !important;
    color: white;
  }
  h5 {
    color: black !important;
    background-color: white !important;
  }
  input {
    color: white !important;
  }
}

.dark_mode_button {
  animation: slidein;
}

.img {
  animation: spin 2s linear infinite;
}

// .img2 {
//   animation: spin 1s linear infinite;
// }

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.header {
  position: fixed;
  margin: 0 auto;
  max-width: 1280px;
  width: 100%;
  top: 0;
  background-color: white;
}
